.easyazon-popover{max-width:450px}.easyazon-popover-content{width:450px}.easyazon-popover-content:after{clear:both;content:"";display:table}.easyazon-popover-image-container{float:left;width:75px}.easyazon-popover-image{display:block;margin:0
auto;max-width:100%;height:auto}.easyazon-popover-information{margin-left:87px}.easyazon-popover-information-title{font-weight:700;margin:0
0 1em}.easyazon-popover-information-button{margin:1em
0}.easyazon-popover-information-disclaimer{color:#666;font-size:0.8em}html,body,div,span,object,iframe,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}h1,h2,h3,h4,h5,h5{margin-top:0px}img{border:0;max-width:100%}a{text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul,ol{padding:0px;margin:0px}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em
0;padding:0}input,select{vertical-align:middle}
/*
     FILE ARCHIVED ON 17:09:49 Oct 22, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:57:22 Jan 04, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 48.312 (3)
  PetaboxLoader3.datanode: 199.659 (4)
  CDXLines.iter: 25.707 (3)
  RedisCDXSource: 11.825
  exclusion.robots: 0.264
  load_resource: 194.063
  esindex: 0.015
  PetaboxLoader3.resolve: 38.455
  exclusion.robots.policy: 0.245
  captures_list: 90.771
*/